.build/

# Xcode user settings
xcuserdata/
*.xcuserstate

# Xcode shared data (keep schemes, ignore personal elements if any)
## xcschemes/

# Workspace details
project.xcworkspace/

buildServer.json
